.cover-section {
    position: relative;
    height: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;

    .displayVideo {
        display: none;
    }

    .cover-play {
        position: absolute;
        top: 14%;
        z-index: 3;
        width: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        img {
            width: 60px;
        }
    }

    .arrow {
        position: absolute;
        z-index: 1;
        bottom: 15px;
        left: 50%;
        width: 20px;
    }

    .tlg {
        position: fixed;
        border-radius: 50%;
        background: #fff;
        padding: 9px;
        width: 50px;
        height: 50px;
        bottom: 15px;
        right: 15px;
        border: 1px solid $white_color;
        z-index: 999;
        transition: opacity .3s ease;

        i {
            font-size: 30px;
            color: $primary_color;
        }
    }

    .go-to-ico {
        position: fixed;
        background: #fff;
        padding: 10px;
        width: 180px;
        bottom: 15px;
        left: 15px;
        z-index: 999;
        display: flex;
        align-items: center;
        border-radius: 100px;
        text-decoration: none;
        border: 1px solid $white_color;

        img {
            width: 30px;
        }

        p {
            margin-left: 8px;
            color: $secondary_color;
        }

        i {
            font-size: 30px;
            color: $primary_color;
        }
    }


    .wrap {
        display: grid;
        max-width: 1440px;
        padding: 140px 50px;
        margin: 0 auto;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;

        .text {
            grid-column: span 5;

            .title {
                color: $secondary_color;
                font-size: 40px;
                font-weight: 500;
                line-height: 1.2em;
            }

            .description {
                //margin-top: 30px;
                font-size: 24px;
                line-height: 50px;
                font-weight: 100;
                //margin-bottom: 50px;
                //margin-bottom: 30px;

                span {
                    color: $primary_color
                }
            }

            //TMP
            .lc-soon {
                margin: 30px 0;
                
                .soon-text {
                    font-weight: 500;
                    line-height: 1.2em;
                    font-size: 20px;
                    margin-bottom: 8px;
                    color: $secondary_color;
                }

                .text {
                    color: #696f6f;
                    font-size: 20px;

                    .more-info {
                        text-decoration: underline;
                        color: #696f6f;
                        cursor: pointer;

                        i {
                            margin-left: 4px;
                            font-size: 14px;
                        }
                    }
                }
            }

            //TMP END

            .download-buttons {
            	margin: 0 -10px;
            }
        }

        .images {
            grid-column: span 7;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .wrap {
        text-align: center;
        grid-template-columns: repeat(1, 1fr)!important;
        padding: 0px 20px!important;

        .text {
            grid-column: span 1!important;

            .title {
                font-size: 30px!important;
            }

            .description {
                font-size: 20px!important;
                margin: 30px auto !important;
            }

            .lc-soon {
                margin-bottom: 30px;
            }
        }

        .images {
            grid-column: span 1!important;

            img {
                width: 100%!important;
            }
        }
    }
}
