.features-section {
    background-color: #fff;

    .feature-list {
        display: flex;
        margin-bottom: 70px;
        justify-content: center;
        text-align: justify;
        align-items: center;

        .feature-list-text {
            display: flex;
            flex-direction: column;
            font-size: 24px;

            .title {
                font-size: 30px;
                color: $primary_color;
                margin-bottom: 20px;
            }

            .description {
                font-size: 20px;
            }

            .contain {
				margin-top: 20px;
				display: flex;
				border-radius: 50%;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;
				padding: 10px;
				height: 140px;
				width: 140px;
				background: #fff;

				h5 {
					color: $secondary_color;
				}

				P {
					font-size: 20px;
				}

				.circle {
					height: 40px;
					width: 40px;
					border: 2px solid $primary_color;
					border-radius: 50%;

					i {
						font-size: 15px;
						padding: 10px;
						color: $primary_color;
					}
				}
			}
        }

        .feature-list-image {
            border-radius: 12px;

            img {
                 box-shadow: 0 3px 18px 0 rgba(12, 206, 107, 0.1);
            }
        }

    }

    @media (max-width: $screen-xs-max) {

        .feature-list {
            flex-direction: column;

            .feature-list-text {
                .title {
                    font-size: 20px!important;
                }

                .description {
                    font-size: 20px!important;
                }

                .contain {
                    height: 100px!important;
                    width: 100px!important;

                    P {
                        font-size: 14px!important;
                        line-height: 16px;
                    }


                    .circle {
                         margin-bottom: 8px;

                        i {
                            font-size: 15px;
                            padding: 10px;
                            color: $primary_color;
                        }
                    }
                }
            }

            .feature-list-image {
                margin-top: 20px;
            }

            .order-two {
                order: 2;
            }

            .order-one {
                order: 1;
            }
        }
    }
}

.f-blockhain {
    background: $white_color;
}
