.press-section {
    background-color: #fff;

    .contain {
        img {
            width: 100%;

            &:hover {
                background: #0cb46b;
                color: #fff;
                transform: translateY(-1px);
                box-shadow: 0 4px 12px rgba(0,0,0,0.17);
                transition: all 0.25s ease-in-out !important;
            }
        }

        p {
            text-align: center;
            margin-top: 10px;

            span {
                font-weight: bold;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .last {
            margin-top: 30px;
        }
    }
}
