.roadmap-section {
    background-color: $white_color;

    .timeline {
        margin-bottom: 50px;
        position: relative;

        .roadmap-list {
            .roadmap-list-item-right {
                margin-top: 20px;
                left: -4%;
                border-radius: 12px;
                background: linear-gradient(90deg, $primary_color, $white_color);
                padding: 1px;

                .contain {
                    padding: 20px;
                    border-radius: 12px;
                    padding-left: 80px;
                    background: $white_color;

                    .title {
                        font-size: 20px;
                        color: $secondary_color;

                        .date {
                            margin-right: 10px;
                            color: $primary_color;
                        }
                    }
                }

                .roadmap-separator {
                    align-items: center;
                    z-index: 3;
                    width: 30px;
                    height: 30px;
                    border: 2px solid $primary_color;
                	position: absolute;
                	left: 8.2%;
                	top: 50%;
                    border-radius: 50%;
                	transform: translate(-50%,-50%);

                    &:before {
                        content: '';
                        background: linear-gradient(315deg, #4874C6, $primary_color);
                        width: 18px;
                        top: 4px;
                        left: 4px;
                        z-index: 2;
                        border-radius: 50%;
                        position: absolute;
                        height: 18px;
                    }
                }

                .current {
                    @extend .roadmap-separator;

                    width: 40px;
                    height: 40px;

                    &:before {
                        width: 28px;
                        height: 28px;
                    }
                }
            }


            .roadmap-list-item-left {
                @extend .roadmap-list-item-right;
                background: linear-gradient(270deg, $primary_color, $white_color);
                left: 4%;

                .contain {
                    text-align: right;
                    padding-right: 80px;
                    padding-left: 20px;

                    .title {
                        .date {
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                }

                .roadmap-separator {
                	left:  92.2%;
                }
            }
        }
    }

    .timeline:before {
        z-index: 0;
        content: '';
        left: 50%;
        position: absolute;
        top: 6%;
        height: 90%;
        width: 1px;
        background-image: linear-gradient(180deg, rgba(72, 116, 198, 0.2), $primary_color);
    }

    @media (max-width: $screen-xs-max) {
        .timeline {
            &:before {
                left: 4%;
            }

             .roadmap-list-item-right {
                left: 0!important;

                .contain {
                    padding-left: 60px!important;
                }

                .roadmap-separator {
                    left: 8%!important;
                }
            }

            .roadmap-list-item-left {
                left: 0!important;
                background: linear-gradient(90deg, $primary_color, $white_color)!important;

                .contain {
                    text-align: left!important;
                    padding-right: 0px!important;
                    padding-left: 60px!important;

                    .title {
                        display: flex;
                        flex-direction: column-reverse;

                        .date {
                            margin-left: 0!important;
                        }
                    }
                }

                .roadmap-separator {
                    left: 8%!important;
                }
            }
        }
    }
}
