.team-section {
    background-color: #FFF;

    p {
        font-size: 20px;
        text-align: justify;
    }

    .react-parallax-bgimage {
        opacity: 0.25;
    }

    .title-team {
        font-size: 50px;
        font-weight: 700;
        line-height: 1em;
        font-weight: 300;
        color: $primary_color;
        margin: 50px 0;
    }

    .team-list {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .team-list-item  {
            margin-bottom: 30px;

            .contain {
                width: 100%;

                .about {
                    display: flex;
                    justify-content: space-between;

                    .nameBlock {
                        .name {
                            font-size: 20px;
                            color: $primary_color;
                            margin: 10px 0 0px 10px;
                        }

                        .office {
                            padding-left: 10px;
                            font-size: 15px;
                            line-height: 18px;
                            max-width: 200px;
                        }
                    }

                    .social {
                        cursor: pointer;
                        margin-right: 10px;
                        margin-top: 10px;
                        height: 30px;
                        width: 30px;
                        border: 1px solid $primary_color;
                        border-radius: 100px;

                        i {
                            margin-left: 8px;
                            margin-top: 6px;
                            color: $primary_color;
                        }

                        &:hover {
                            background: $primary_color;

                            i {
                                color: $white_color;
                            }
                        }
                    }
                }

                .img {
                	background-size: cover;
                	background-position: center;
                	height: 250px;
                    width: 250px;
                    position: relative;
                    margin: auto;
                    border-radius: 50%;
                    border: 1px solid $primary_color;

                    .parthner-img {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        width: 150px;
                        left: 50%;
                    }

                    .bio {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        left: 50%;
                        top: 50%;
                        width: 100%;
                        background: rgb(247, 244, 243);
                        position: absolute;
                        transform: translate(-50%, -50%);
                        padding: 4px;
                        box-shadow: 0 3px 18px 0 rgba(12, 206, 107, 0.05);
                        transition: opacity 0.3s linear;

                        p {
                            padding: 10px;
                            text-align: left;
                            line-height: 22px;
                            font-size: 14px;

                            a {
                                cursor: pointer;
                                color: $primary_color;
                                margin-left: 8px;
                                text-decoration: none;

                                i {
                                    color: $primary_color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        .team-list-item  {

        }

        .title-team {
            font-size: 35px!important;
        }

        .react-parallax-bgimage {
            display: none;
        }
    }
}
