//$smooth_shadow: 0 2px 5px rgba(0,0,0,0.26); // normally we wont have shadow, but this will give the feeling that there is something under it - scrolled content

// separates both sections.
.content-section {
  margin-top: 5px;
  display: block;
  height: calc(100% - 44px);
  position: relative;
}

.force-cursor {
  cursor: pointer !important;
}

.redimensioner{
  position: absolute;
  left: 50%;
  width: 10px;
  margin-left: -5px;
  height: 100%;
  cursor: ew-resize;
  bottom: 0;
}

// styles for the different sections
.folder-system-section{
  $breadcrumb_base_size: 22px;
  $extra_options_height: 45px;
  $transition_time: 0.5s;
  width: calc(50% - 3px);
  height: 100%;
  padding-bottom: 8px;

  &.half-section{
    // style for if it part of the right or the left
    position: absolute;
    height: 100%;
    padding-bottom: 8px;
    bottom: 0;
    width: auto;
    &.force-max-size{
      left: 0 !important;
      right: 0 !important;
      transition: left 0.5s ease, right 0.5s ease;
    }
    &.left-section{
      padding-left: 0;
      left: 0;
      right: calc(50% + 5px);
      vertical-align: top;
    }

    &.right-section{
      padding-right: 0;
      right: 0;
      left: calc(50% + 5px);

    }
  }



  &.full-section{
    width: 100%;
  }

  &.show-right-button-section{
    .right-button-section{
      display: block;
    }
  }

  .selection-square{
    display: none;
    position: absolute;
    @include transparent_background($light_blue_scheme_500, 0.26);
    border: 1px solid $light_blue_scheme_500;
    z-index: 10000000;

    &.active-selection-square{
      display: block;
    }
  }

  .right-button-section{
    //position: fixed;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //z-index: 100000000;
    //display: none;

    .right-menu {
      position: fixed;
      display: none;
      box-shadow: $smooth_shadow;
      li{
        cursor: pointer;
      }
    }
  }
  &.search-section{
  // style for if it part of the right or the left
    display: inline-block;
    position: absolute;
    top: 127px;
    bottom: 3px;
    height: auto;
    left: 50%;
    right: 50%;
    overflow: hidden;
    padding: 0;
    vertical-align: top;
    width: auto;
    z-index: 2;
    opacity: 0;
    @include transition3(opacity, left, right);

    &.boards-style{
      top: 61px;
    }

    &.show-search{
      display: inline-block !important;
      opacity: 1;
      left: 10px;
      right: 10px;
    }
  }



  .folder-extra-options{
    height: $extra_options_height; //$breadcrumb_base_size;
    background-color: $black;
    color: $white;
    width: 100%;
    font-size: 10px;
    text-overflow: ellipsis;
    line-height: $extra_options_height;
    display: flex;
    justify-content: space-between;

    $title_width: 122px;
    $menu_width: 10px;
    $whole_extra_width: $title_width + $menu_width;

    .folder-title{
      font-size: 17px;
      padding-left:7px;
      //width: $title_width;
      display: inline-block;
    }

    .inside-buttons{
      display: inline-block;
      flex-grow: 2;
      //width: calc(100% - #{$whole_extra_width});

    }

    .extra-options-button{
      position: relative;

      .folder-options-button{
        position: relative;
        top: -5px;
        font-size: 21px;
        line-height: 44px;
        &:hover{
          cursor: pointer;
        }
      }
    }


    ul.icons{
      padding: 0;
      margin: 0;
      height: $extra_options_height;
      display: inline-flex;
      width: 100%;
      //top: -3px; // this was a fix because this side tend to get down 6pixels. we should find the real reason and fix it.
      //position: relative;

      li{
        line-height: $extra_options_height;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        &.let-it-not-grow-much{
          flex-grow: 1.5;
        }

        .icon-name{
          line-height: 11px;
          margin-top: 4px;
        }

        .folder-top-bar-icon{
          line-height: 20px;
          font-size: 19px;
        }

        &.center-style{
          //border-left: 1px solid $white;
          //border-right: 1px solid $white;
        }


        &.apps-style{
          //background-color: $grey_scheme_500;
        }
        &.docs-style{
          //background-color: $grey_scheme_500;
        }
        &.links-style{
          background-color: $black;

          &.addaps-link-style{
            span{
              font-size: 14px;
            }
          }

          &.apps-link-style{
            span{
              // font-size: 18px;
            }
          }

        }
        &:hover{
          // background-color: $grey_scheme_900;
        }
        &.selected-style{
          //background-color: $grey_scheme_800;
          color: $addaps_green;
        }

          //&.apps-style{
          //  background-color: $addaps_red;
          //}
          //&.docs-style{
          //  background-color: $addaps_red;
          //}
          //&.links-style{
          //  background-color: $addaps_red;
          //}
          //&:hover{
          //  background-color: $addaps_system_grey;
          //}
          //&.selected-style{
          //  // background-color: $grey_scheme_800;
          //  background-color: $addaps_green;
          //  color: $black;
          //}
        // todo: end to erase later

      }
    }
  }

  // the base part where the folders and links will be, have white background
  .white-section{
    background-color: $white;
    height: calc(100% - #{$extra_options_height});
    // height: 100%;
    overflow: hidden;
    position: relative;
    @include disable_selection();

    // zone for the title's section
    .white-section-title {
      height: $breadcrumb_base_size;
      transition: height $transition_time;

      .breadcrumb-section {
        height: $breadcrumb_base_size;
        background-color: $grey_scheme_700;
        color: $white;
        padding: 2px 6px;
        width: 100%;
        font-size: 10px;
        //position: absolute;
        top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .title-content{
        display: none;

        .go-back, .title-content-text{
          line-height: 38px;
        }

        .go-back{
          float: left;
          cursor: pointer;
          line-height: 38px;

          &:hover{
            @include opacity(0.5);
          }
        }
      }

    }


    // here we have the content
    .scrollable-content{
      overflow-y: auto;
      overflow-x: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      // todo: fix the top size depending of the movement of the top banner
      top: $breadcrumb_base_size;
      text-align: center;
      transition: top $transition_time;

      .folder-section{
        margin-bottom: 50px;
      }

      .link-section, .folder-section{
        padding: 10px;
      }
    }

  }

  .selected-folder-element{
    @include opacity(0.2);
  }

  // in this case, we will have a folder with a banner type header. so we should add new styles
  &.banner-style {
    $base_banner_height: 131px;
    $secondary_banner_height: 67px;

    // changes in the title part
    .white-section-title{

      &.banner-section {
        display: block;
        width: 100%;
        background-size: 100% auto; // x, y
        height: $base_banner_height;
        position: relative;


        // transition: background-image $transition_time ease-in-out ;



        .title-content {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 20px;
          color: $white;
          background-color: $black;
          left: 0;
          text-align: right;
          padding: 4px 9px;
          @include transparent_background($black, 0.3);
        }

      }


      .breadcrumb-section {
        @include transparent_background($black, 0.5);
      }

    }

    // in banner mode, the section is smaller
    .white-section{
      .scrollable-content{
        top: $base_banner_height;
      }
    }

    // style for the banners change of size
    &.scroll-lock-style {

      // special style for when we scrolled a bit, changes the size
      .banner-section{
        height: $secondary_banner_height;
        box-shadow: $smooth_shadow; // normally we wont have shadow, but this will give the feeling that there is something under it - scrolled content
      }

      // in scrollable version + banner version, the content height is more than non-banner section, yet smaller than
      // non scrolled version
      .white-section{
        .scrollable-content{
          top: $secondary_banner_height;
        }
      }
    }
  }
}

.cube-full-screen{
  .folder-system-section{
    .white-section-title.banner-section{
      @media (max-width: 1011px){
        background-size: auto 100%
      }
    }
  }
}


.file-button{
  text-align: center;
  position: relative;
  width: 100px;
  display: inline-block;
  cursor: pointer !important;
  vertical-align: top;
  margin-bottom: 21px;

  .bg-icon{
    font-size: 55px;
    line-height: 55px;
  }

  &.excel-type .inside-icon, &.file_spreadsheet .inside-icon  {
    color: $green_scheme_800;

    //&:hover{
    //  color: $green_scheme_900;
    //}
  }

  &.doc-type .inside-icon, &.file_paper .inside-icon{
    color: $light_blue_scheme_800;
    //
    //&:hover{
    //  color: $light_blue_scheme_900;
    //}
  }

  &.song-type .inside-icon, &.audio-type .inside-icon, &.file_audio .inside-icon{
    color: $grey_scheme_800;
    //
    //&:hover{
    //  color: $grey_scheme_900;
    //}
  }

  &.pdf-type .inside-icon, &.file_pdf .inside-icon{
    color: $deep_orange_scheme_800;

    //&:hover{
    //  color: $deep_orange_scheme_900;
    //}
  }

  &.img-type .inside-icon, &.file_image .inside-icon{
    color: $yellow_scheme_800;

    //&:hover{
    //  color: $yellow_scheme_900;
    //}
  }

  &.video-type .inside-icon, &.file_video .inside-icon{
    color: $grey_scheme_700;

    //&:hover{
    //  color: $grey_scheme_900;
    //}
  }

  .inside-icon{
    display: inline-block;
    position: relative;
  }

  .inside-text{
    position: absolute;
    top: 23px;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    left: 0;
    right: 0;;
  }

  .favicon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -6px;
    //border: 1px solid black;
  }

}


.board-type-2{
  text-align: center;
  position: relative;
  width: 100px;
  display: inline-block;
  cursor: pointer !important;
  vertical-align: top;
  margin-bottom: 21px;

  .bg-icon{
    font-size: 44px;
    line-height: 44px;
  }

  .info-icon{
    //display: none;
  }

  .inside-icon {
    color: $red_scheme_800;

    //&:hover{
    //  color: $green_scheme_900;
    //}
  }
}


.board-button{
  height: 153px;
  width: 153px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .board-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
  }
}


// link icon

.link-button{
  text-align: center;
  position: relative;
  width: 100px;
  display: inline-block;
  cursor: pointer !important;
  vertical-align: top;
  margin-bottom: 21px;

  .inside-icon {
    background-color: $blue_grey_scheme_500;
    //color: $white;
    border-radius: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px 0;
    position: relative;
    line-height: 70px;
    //

    .link-icon{
      color: $white;
      font-size: 30px;

      &.link-icon-fix{
        font-size: 25px;
      }

      &.material-icons{
        font-size: 33px;
        line-height: 51px;
        margin-left: 1px;
      }

      &.icon{
        font-size: 12px;
      }
    }


  }

  .favicon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    right: -6px;
  }


  &.audio-type, &.web_audio{
    .inside-icon{
      background-color: $red_scheme_500;//#C30B0B;
      color: $white;
    }
  }



  &.video-type, &.web_video{
    .inside-icon{
      background-color: $light_blue_scheme_700;
    }
  }


  &.tv-type, &.web_tv{
    .inside-icon{
      background-color: $light_blue_scheme_700;

      .tv-icon-fix{
        font-size: 32px;
        //position: absolute;
        //left: 9px;
        //top: 4px;
        line-height: 32px;
      }
      //.link-icon::before {
      //  content: "desktop_mac";
      //}
    }
  }


  &.game-type{
    .inside-icon{
      background-color: $green_pastel_800;

      .icon-gamepad{
        font-size: 32px;
        line-height: 32px;
        margin-top: 4px;
      }
    }
  }


  &.radio-type, &.web_radio{
    .inside-icon{
      background-color: $red_scheme_500;//#C30B0B;
      .link-icon::before {
        content: "keyboard_voice";
      }
    }
  }

  &.pin-type, &.web_article{
    .inside-icon{
    }
  }
}

.edit-content-style{
  .customization-options-zone, .visualization-zone{
    display: none !important;
  }

  &.outside-filesystem-form.create-edit-form .panel {
    width: 434px;
    height: 135px;
    margin-left: -217px;
    left: 50%;
    right: auto;
    top: 50%;
    margin-top: -67px;
  }

  &.outside-filesystem-form.create-edit-form .panel .panel-body {
    top: 21px;
  }
 }

.app-button{
  text-align: center;
  position: relative;
  width: 100px;
  display: inline-block;
  cursor: pointer !important;
  vertical-align: top;
  margin-bottom: 21px;

  &.stickynote{
    .material-icons{
      font-size: 62px;
      color: $green_pastel_xxx;
      margin-top: -5px;
      transform: scale(1, -1);
    }
  }

  .inside-icon{
    .inside-icon-image{
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 7px;
      background-position: center;
      background-repeat: no-repeat;
      // background-color: blue;
      background-size: 100%;
      margin-top: 3px;
    }
  }

  :hover{
    @include opacity(0.5);
  }
}

.inside-icon{
   display: inline-block;
   width: 55px;
   height: 55px;
  text-align: center;

  &:hover{
    @include opacity(0.5);
  }
 }


.file-button, .app-button, .link-button{
  height: 90px;
  position: relative;

  .text-center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    .text-icon{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.create-edit-form{
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  .panel{
    $input_height: 25px;
    box-shadow: $smooth_shadow;
    margin-top: 30%;
    width: 90%;
    display: inline-block;
    border-color: $grey_scheme_500;

    .panel-body{
      display: inline-flex;
      flex-wrap: wrap;
    }

    .system-section-header.expand-minimize-title{
      font-size: 13px;
      border-bottom: 1px solid $black;
      margin-bottom: 11px;
    }

    .hidden-group{
      display: none;
    }

    .customization-options-zone{
      text-align: left;
      width: 65%;
      height: calc(100% - 35px);
      overflow: auto;
      padding: 10px 0;
    }

    .visualization-zone{
      width: 35%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .panel-heading{
      height: 24px;
      font-size: 12px;
      line-height: 20px;
      padding: 0;
      background-color: $grey_scheme_500;
      color: $white;
    }

    .input-group{
      margin-bottom: 10px;

      label{
        padding-top: 0;
        padding-bottom: 0;
        line-height: $input_height - 2px;
        font-size: 12px;
      }

      input{
        height: $input_height;
        font-size: 12px;
      }
    }

    .panel-footer{
      background-color: $blue_grey_scheme_50
    }

  }

  .no-margin-padding{
    padding: 0 !important;
    margin: 0 !important;
  }
}

.outside-filesystem-form.create-edit-form{
  .panel{
    margin-top: 13px;
    width: auto;
    height:auto;
    position: absolute;
    top: 0;
    left: 22px;
    right: 22px;
    bottom: 12px;

    .panel-body {
      padding: 15px;
      height: auto;
      position: absolute;
      top: 13px;
      bottom: 55px;
      left: 0;
      right: 0;
    }

    .panel-footer{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .image-gallery {
      width: 100%;
      display: inline-block;
      text-align: center;
      height: calc(100% - 65px);
      overflow: auto;

      .image-gallery-pics{
        height: auto;
      }
    }
  }
}

.dialog-widget{
  img.icon{
    display: none;
  }

  img.icon:before{
    content: "" !important;
  }

  &[data-icon]:before{
    content: "" !important;
  }
}

.show-only-left{
  .right-section{
    display: none;
  }
  .left-section{
    width: 100%;
  }
}

.show-only-right{
  .right-section{
    width: 100%;
  }
  .left-section{
    display: none;
  }
}

.extra-options-button{
  position: relative;
  display: inline-block;
  height: 22px;
  background-color: black;
  color: white;
  line-height: 21px;

  .extra-options-menu{
    .dropdown-menu{
      right: 0;
      top:  31px;
      left: initial;
    }
  }

  &.extra-options-button{
    height: 100%;
    cursor: pointer;

    .material-icons{
      font-size: 24px;
      line-height: 22px;
      color: $white;
    }

    &:hover .material-icons{
      color: $addaps_system_grey;
    }
  }
}


.top-bar-options{
  .top-bar-filesystem{
    display: flex;
    justify-content: flex-start;

    .breadcrumb-section{
      display: inline-block;
    }

  }
}

.show-spinner{
  .white-section{
    background-image: url("../../multimedia/images/not-avaliable/ring.gif");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.real-droppable{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}