.buttonSettingsContainer{
    display: flex;
    color: white;
    background-color: rgb(255, 108, 111);
    font-size: 18px;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    position: relative;

    .loaderButtonSettings{
        position: absolute;
        height: 20px;
        width: 20px;
        color: white;
        filter: invert(20%);
        margin-right: 10px;
        right: 10px;
        top: 12px;
    }

}
