
.cube-container-droppable-wrapper{ // todo: maybe we should chang this for a custom class to place
  position: relative;


  .cube-container-droppable{
    position: absolute;
    opacity: 0.5;
    z-index: 111000;
    display: none;
  }

  .before-container{
    top: 0px;
    bottom: 50%;
    left: 0px;
    right: 0px;
    &.hovering-element{
      border-top: 2px solid white;
      margin-top: -2px;
    }
  }

  .after-container{
    position: absolute;
    top: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;

    &.hovering-element{
      border-bottom: 2px solid white;
      margin-bottom: -2px;
    }
  }
}

.cube-link-is-dragging{
  .cube-container-droppable{
    display: block;
  }
}