.roboto-font{
  font-family: 'Roboto', sans-serif;
}

.baloo-font{
  font-family: 'Baloo Bhaina', cursive;
}

.diplomata-font{
  font-family: 'Diplomata SC', cursive;

}

.open-sans-font{
  font-family: 'Open Sans', sans-serif;

}

.lato-font{
  font-family: 'Lato', sans-serif;
}

.slabo-font{
  font-family: 'Slabo 27px', serif;

}
.ranga-font{
  font-family: 'Ranga', cursive;

}

.oswald-font{
  font-family: 'Oswald', sans-serif;

}

.roboto-condensed-font{
  font-family: 'Roboto Condensed', sans-serif;

}

.source-sans-font{
  font-family: 'Source Sans Pro', sans-serif;

}

.Montserrat-font{
  font-family: 'Montserrat', sans-serif;

}

.Griffy-font{
  font-family: 'Griffy', cursive;

}
.Raleway-font{
  font-family: 'Raleway', sans-serif;
}

.pt-sans-font{
   font-family: 'PT Sans', sans-serif;

}

.Merriweather-font{
    font-family: 'Merriweather', serif;
}

.roboto-slab-font{
     font-family: 'Roboto Slab', serif;
}

.open-sans-condensed-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

.rubik-mono-one-font {
  font-family: 'Rubik Mono One', sans-serif;

}

.droid-sans-font {
  font-family: 'Droid Sans', sans-serif;
}

.lora-font {
  font-family: 'Lora', serif;
}