.dashboard-section {
	//background-color: #f5f5f5;
	position: relative;
    height: 100%;
    margin-top: 0px;
    overflow: hidden;
	background: #f5f5f5;

	.container, .row {
		height: 100%;
	}

	.wrap {
		display: flex;
		height: 100%;
		align-items: center;
		//padding: 0 50px;
		/* grid-template-columns: repeat(12, 1fr); */
		/* grid-gap: 80px; */
		/* grid-auto-rows: minmax(100px, auto); */

        .video-container {

			border-right: 1px solid #e8e4e4;

			.section-heading {
				font-weight: 600;
			}

			.buttons-container {
				margin-top: 30px;

				.btn-action {
					$height: 60px;
					height: $height;
					width: $height;
					margin: 20px 30px 0px 0px;
					line-height: $height;
					text-align: center;
					border-radius: 50%;
					//border: solid 2px $main-color;
					cursor: pointer;
					transition-duration: 0.25s;
					background-color: $primary-color;

					&:hover {
						background-color: $secondary_color;
					}
				}

				.fa {
					color: white;
				}
			}

			p {
				font-size: 15px;
			}

			.txt-clientId {
				height: 40px;
				margin: 40px auto 0px 10px;
				color: $main-color;
				font-size: 15px;
				background-color: transparent;
				border: none;
				width: 72%;
				border-bottom: solid 1px #e8e4e4;
				@include input-placeholder(rgba(black, 0.5));
			}

			.txt-frietId {
				@extend .txt-clientId;
				margin: 40px auto 0px 0px;
				width: 95%;
			}

			@media screen and (max-width: 767px) {
				padding-top: 40px;

				.pull-left, .pull-right {
					width: 100%;
					text-align: center;
				}

				.pull-right {
					margin-top: 20px;
				}
			}
		}


		.chat-container {
			height: 70%;

			ul {
			  list-style: none;
			  word-wrap: break-word;

			  li {
				  font-size: 18px;
				  color: $secondary_text;



			  }
			}

			/* Pages */

			.pages {
			  height: 100%;
			  margin: 0;
			  padding: 0;
			  width: 100%;
			}

			.page {
			  height: 100%;

			  width: 100%;
			}


		/* Font */

		.messages {
		  font-size: 150%;

		  .message {
			  padding: 10px;
				background: #fff;
				border-radius: 8px;
				margin: 10px 0;
				width: 80%;

				&.text-r {
					text-align: right;
					margin-left: auto!important;
				}

				.fs {
					position: relative;
					margin: 0;
					display: flex;
					flex-direction: column;

					.msg {
						color: #373737;
					}

					.nickname {

						 color: $third_color;

					}

					.ic {

						position: absolute;
					    right: 0;
					    top: 50%;
					    width: 0;
					    height: 0;
					    border: 20px solid transparent;
					    border-left-color: #ffffff;
					    border-right: 0;
					    border-bottom: 0;
						margin-top: -5px;
						margin-right: -28px;
					}

				.ic-l {
					position: absolute;
					left: 0;
					top: 50%;
					width: 0;
					height: 0;
					border: 20px solid transparent;
					border-right-color: #fff;
					border-left: 0;
					border-bottom: 0;
					margin-top: -5px;
					margin-left: -28px;
				}
				}

		  }
		}

		.inputMessage {
		  font-size: 100%;
		}

		.log {
		  color: gray;
		  font-size: 70%;
		  margin: 5px;
		  text-align: center;
		}

		/* Messages */

		.chatArea {
		  height: 100%;
		  //padding-bottom: 60px;
		}

		.messages {
		  height: 100%;
		  margin: 0;
		  overflow-y: scroll;
		  padding: 10px 20px 10px 20px;
		}

		.message.typing .messageBody {
		  color: gray;
		}

		.username {
		  font-weight: 700;
		  overflow: hidden;
		  padding-right: 15px;
		  text-align: right;
		}

		/* Input */

		.inputMessage {
		  border: none;
		  bottom: 0;
		  color: #373737;
		  border-radius: 8px;
		  height: 60px;
		  //font-style: italic;
		  left: 0;
		  outline: none;
		  padding-left: 10px;
		  right: 0;
		  width: 100%;


		}


		}
    }




}
