.call-modal {
	position: absolute;
	width: 400px;
	padding: 20px;
	left: calc(50vw - 200px);
	top: calc(50vh - 60px);
	@include bg-gradient(top,  #062b35 0%, #5c6bc0 100%);
	@include border-radius(5px);
	text-align: center;
	display: none;

	&.active {
		display: block;
		z-index: 9999;
		@include animation(blinking 3s infinite linear);
	}

	.btn-action {
		$height: 50px;
		height: $height;
		width: $height;
		line-height: $height;
		margin: 0px 8px;
		font-size: 1.4em;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		transition-duration: 0.25s;

		&:before {
			color: #fff;
		}

		&:hover {
			opacity: 0.8;
		}

		&.hangup {
			background-color: $red;
			@include transform(rotate(135deg));
		}

		&:not(.hangup) {
			background-color: #64DD17;
		}
	}

	// .btn-action:not(.hangup) {
	// 	background-color: $green;
	// }


	span.caller {
		color: #fff;
	}

	p {
		color: #9c9c9c;
		font-size: 1.5em;
	}
}

@include keyframes(blinking) {
	25% {@include transform(scale(0.96))}
	50% {@include transform(scale(1))}
	75% {@include transform(scale(0.96))}
	100% {@include transform(scale(1))}
}
