.top-bar-chat{
    height:             40px;
    display:            flex;
    justify-content:    space-between;
    align-items: center;
    
    .title{
        display: flex;
        height:              40px;
        align-items:         center;
        margin-top:          5px;
        margin-left:         10px;
        font-weight:         bold;
        font-size:           18;
        color:               #373737;
        overflow:            hidden;
        text-overflow:       ellipsis;
        white-space:         nowrap;
    }

    .icons{
        display: flex;
        align-items: center;
        height: 40px;

        i{
            font-size:          20px;
            height:             20px;
            position:           relative;
            margin:             5px;
            color:              #373737;
        }

        .disabled{
            color: #c2c2c2;
            cursor: not-allowed;
        }
    }
}
