$lineGray: #979797;


body{
  //  todo: test with the filter blur, the objective is that everything but the lightbox-cube and its "black-mist" div is blurred, however, using the :not() or overriding the filter property doesn't seem to work properly
  //&.blur-app{
  //  .lightbox-cube *{
  //      filter: blur(1px);
  //  }
  //}

  .addaps-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    #top-bar {
      width: 100%;
      height: $top_bar_height;
      overflow: visible;
      position: relative;
      z-index: $topBarZI;
    }

    #wrapper{
      transition: background-color 1s ease, background-image, 1s ease;
      background-color: rgb(238, 236, 225);
      background-attachment: fixed;
      background-size: cover;
      flex: 1;
      overflow: hidden;
    }

  }




  &.addaps-style{
    .login-background{
      opacity: 0;
    }

    .login-body{
      //top: 50%;
      //bottom: 50%;
      opacity: 0;
    }

    .login-background{
      left: 0;
      right: 0;
    }
  }
}


/*** DESKTOP ***/
#wrapper{

  .desktop-container{
    padding-top: $tab_zone;
    overflow: auto;
    position: absolute;
    top: $top_bar_height;
    bottom: 0;
    left: 0;
    right: 0;
    transition: left 0.5s ease;

    #desktop{
      position: absolute;
      height: 10000px;
      //width: 100%;
      left: 0;
      right: 36px; // todo: this compensates for the right navbar, but when the time comes we should change it depending the mode
    }

    #minimize-zone-static{
      display: none; // as a test, we hide it, because the new cube bar makes it obsolete.
      width: 100%;
      bottom: 0;
      overflow: hidden;
      height: 20px;
      position: fixed;
      // display: flex;
      z-index: $minBarZI ;
      white-space: nowrap;
      left: 0;

      #minimize-zone{
        position: absolute;
        left: 0;
        padding: 2px;
        z-index: 20;
      }
    }
  }


}


body{
  .dialog-widget{
    text-align: center;
    z-index: $zIndDialogWidget;

    > *:empty{
      display: none;
    }

    &.confirm{
      border-radius: 0;
      border: 3px solid #080808;
      padding: 0;
      background-color: black;

      .title{
        background-color: $white;
        padding: 10px;
        border: 5px solid #efefef;
        border-bottom: 17px solid #EFEFEC;
      }
      //
      //.divider{
      //  display: none;
      //}

      button{
        margin: 5px 1px;
        font-size: 12px;
        line-height: 1.5;
        display: inline-block;
        width: auto;
        padding: 5px 10px;
        border-radius: 4px;
        color: black;

        &.cancel{
          background-color: #d9534f;
          border-color: #d43f3a;
          color: white;
        }
        &.ok{}
      }
    }
  }
}


/*** WEB RTC ***/

#right-tab video{
  width:100%;
}


/*** TOP BAR BUTTONS ***/

.window_buttons {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0;

  &.window_buttons_close {
    background: url("../../multimedia/images/icons/close-icon.png") no-repeat center center #E0E0E0;
    background-size: 9px;  }

  &.window_buttons_resize {
    display: inline-block;
    background: url("../../multimedia/images/icons/rectangle-icon.png") no-repeat center center #E0E0E0;
    background-size: 9px;
  }

  &.window_buttons_min{
    background: url("../../multimedia/images/icons/min-icon.png") no-repeat center center #E0E0E0;
    background-size: 9px;
  }
}

.desktop-right-menu-options{
  position: fixed;
  z-index: $buttonsZI;
  display: none;
  overflow: hidden;

  .dropdown-menu{
    position: relative;
  }
}



.freeze-button{
  .unfreeze{
    display: none;
  }
}

.frozen-board{
  .freeze-button{

    .freeze{
      display: none;
    }

    .unfreeze{
      display: block !important;
    }

  }
}

#general-load-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  display: none;

  .progress-bar {
    transition: none;
  }
}

.current-board-is-public .not-for-public {
  display: none;
}

.edit-mode-topbar-style{
  overflow: hidden;
  position: absolute;
  top:0;
  bottom: 100%;
  left: 0;
  right: 100%;
}

/** edit mode for shapes **/
.edit-mode-activated{
  #top-bar{
    .addaps-navbar{
      .edit-mode-topbar-style{
        background-color: $black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        opacity: 0.8;
        justify-content: center;
        display: flex;
        align-items: center;

        span{
          font-weight: bold;
          font-style: italic;
        }
      }

      .addaps-program-buttons{
        z-index: 100;
      }
    }
  }
}

.mini-text{
  text-align: center;
  padding: 40px 0 18px 0;
}

.line-center-text, .login-line-center-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .line-span{
    border-bottom: 1px solid $lineGray;
    flex-grow: 2;
  }

  .line-writing{
    margin: 10px;
  }
}

.login-line-center-text{
  margin-bottom: 20px;

  label{
    font-weight: normal;
    font-size: 14px;
  }

  input{
    &.login-form-checkbox-input{

    }
  }
}

.center-text{
  text-align: center;
}


.video-full-screen{
  #top-bar, #minimize-zone-static{
    display: none !important;
  }

  .cube-enter-html-full-screen{
    z-index: $topBarZI !important; // we must ensure that it will be always on top

    .cube-content{
      z-index: 3;
    }

    &.player-cube-base{
      .cube-top-bar{
        display: none;
      }

      .cube-buttons{
        position: fixed !important;
        opacity: 0;
        transition-delay: 2s;
        transition: opacity 1s ease;

        &:hover{
          opacity: 1;
        }
      }


    }


  }
}

.login-form-checkbox{
  input[type="checkbox"]{
    display: none;
  }

  .flex-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fake-checkbox{
    margin-right: 4px;
    cursor: pointer;
    position: relative;

    *{
      display: none;
      position: absolute;
      top: -5px;
      left: -2px;
      font-size: 16px;
      text-shadow: 0px 0px 1px white;
      color: #000000;
    }
  }

  input[type="checkbox"] + label .fake-checkbox{
    height: 9px;
    width: 9px;
    border-radius: 2px;
    background-color: #D8D8D8;
  }

  input[type="checkbox"]:checked + label .fake-checkbox {
    *{
      display: block;
    }
  }
}
