/** LOGIN - color of the background **/

.login-style{ // body
  background:black;
  color:white;
}


.login-background{
  background-image: url("#{$resourcesImageAddress}/backgrounds/login.png");
  background-position: right center;
  z-index: $zIndLoginBackground;
  background-size: cover;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  @include  transition3T(top, left, right, 1s);
}

.login-body{
  opacity: 0;
  position: absolute;
  transition: top 2s ease, bottom 2s ease, opacity 0.5s ease;
  overflow: hidden;
  z-index: $zIndLoginBody;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  // background-color:rgba(0, 0, 0, 0.63);

  $angle_of_rotation: 15deg;

  .other-users{
    max-height: 526px;
    position: absolute;
    padding: 0 10px 0 10px;
    overflow: scroll;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 10px;
    transition: all 1.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover{
      opacity: 1;
      max-width: 1000px
    }

    .avatar-icon-container{
      width: 50px;
      height: 50px;

      .avatar-icon{
        font-size: 44px;
        margin-bottom: 5px;
      }
    }

    .user-button{
      transform-origin: top left;
      // transform: rotateZ($angle_of_rotation);
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      font-size: 17px;
      opacity: 0.5;
      @include transition3(transform, padding, opacity);

      .delete-users-login{
        border-radius: 50%;
        height: 15px;
        width: 14px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 10;
        top: 18px;
        display: none;
        transition: opacity 0.2s ease-out;
        transition-delay: 1s;
        opacity: 1;

        .material-icons{
          color: white;
          font-size: 14px;
        }
      }


      &.selected-user{
        // transform: scale(1.4) rotateZ(15deg) translateY(-20px) translateX(7px);
        transform: scale(1.4) translateY(-20px) translateX(7px);
        padding: 25px 55px;
        opacity: 1;

        .delete-users-login{
          display: flex;
          opacity: 0;
        }

        &:hover{
          .delete-users-login{
            opacity: 1;
          }
        }
      }

      .user-button-name{
        margin-left: 11px;
      }

      .user-avatar{
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }
  }

  &.show-login{
    opacity: 1;
  }

  $animationTime: 3s;

  @keyframes userList {
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 1;}
    100% {opacity: 1;}
  }

  @keyframes boxLight {
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 0; /*box-shadow: 0 0 250px rgba(255, 255, 255, 0.32);*/}
    100% {opacity: 1; /*box-shadow: 0 0 5px rgba(255, 255, 255, 0.71);*/}
  }

  @keyframes addapsMovement {
    0% {
      opacity: 1;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
    }
    33%{
      opacity: 1;
    }

    66% {
      opacity: 0;
    }

    100% {
      z-index: -1;
    }
  }

  .other-users{
    margin-bottom: 0;
  }

  .other-users, .addaps-logo{
    animation: userList;
    animation-duration: $animationTime;
    &:hover{
      z-index: 500;
    }
  }

  .addaps-logo{
    position: absolute;
    width: 141px;
    top: 21px;
    left: 21px;
    margin-bottom: 30px;

    img{
      width: 100%;
    }
  }

  //
  //.addaps-logo-big{
  //  display: block;
  //  z-index: -1;
  //  opacity: 0;
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  right: 0;
  //  top: 0;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  background-size: 50% auto;
  //  background-color: transparent;
  //  animation-timing-function: linear;
  //
  //  justify-content: center;
  //  align-items: center;
  //
  //  animation-name: addapsMovement;
  //  animation-duration: $animationTime;
  //  //
  //  //img{
  //  //  width: 130px;
  //  //  padding: 0 20px;
  //  //  animation-name: imageMovement;
  //  //  animation-duration: $animationTime;
  //  //}
  //}

  .social-login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(45, 45, 45, 0.89);
    z-index: 10000;

    .social-login-wrapper {
      position: relative;
      max-width: 80%;
      width: 800px;
      height: 500px;
      background-color: rgba(45, 45, 45, 0.89);
      transition: width 1s ease, height 1s ease;
      box-shadow: 0 0 11px 0 #827e7e;

      &.login-mode{
        width: 500px;
        height: auto;
        overflow: hidden;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .close-button{
        position: absolute;
        z-index: 1000;
        top: 6px;
        right: 4px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        transition: transform 1s ease;

        &:hover{
          transform: scale(1.3);
        }
      }

      webview{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        //width: 100%;
        //height: 100%;
      }

      .fb-login-message{
        padding: 0 10px 31px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
      }

      .error-message-mail{
        display: none;
      }

      .fb-login-zone-block{

        &.error-email{
          #fb-login-login{
            background-color: rgba(255, 0, 0, 0.32);
            color: white;
          }

          .error-message-mail{
            display: block;
            color: red;
            font-weight: bold;
          }
        }

        &.error-first-name{
          #fb-sing-up-first-name{
            background-color: rgba(255, 0, 0, 0.32);
            color: white;
          }
        }

        &.error-last-name{
          #fb-sing-up-second-name{
            background-color: rgba(255, 0, 0, 0.32);
            color: white;
          }
        }

        &.error-terms-and-cond{
          .login-form-checkbox{
            background-color: rgba(255, 0, 0, 0.32);
            color: white;
          }
          #fb-input-terms-and-cond{
            background-color: rgba(255, 0, 0, 0.32);
            color: white;
          }
        }

        .login-form-checkbox{
          padding: 10px;
          border-radius: 5px;
        }

        .user-image{
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .new-user{
            position: relative;
            height: 250px;
            width: 250px;
            margin: 0;
            top: auto;
            left: auto;
            bottom: auto;
          }

          .material-icons{
            font-size: 214px;
          }
        }
      }

      #fb-login-button{
        // background-image: url('../../multimedia/images/login-images/fbInverse.jpg');
        background-color: $facebookBlue;
        background-position: 7px center;
        background-repeat: no-repeat;
        background-size: auto 60%;
        display: block;
        width: 232px;
        height: 33px;
        border-radius: 5px;
        border: 0 solid transparent;
      }
    }
  }

  .login-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    .login-zone-block{
      //overflow: hidden;
      animation-name: boxLight;
      animation-duration: $animationTime;
      z-index: 200;
      max-width: 400px;
      width: 33.3%;

      @media (max-width: 800px) {

        width: 50%;
        font-size: 10px;

        .form-set-white .addaps-form-group input{
          height: 36px;
          font-size: 12px;
        }

        .login-button, .facebook-button-submit{
          font-size: 15px;
          height: 38px;
        }
      }

      @media (max-width: 800px) {
        width: 90%;
        .sign-up-login-group-set.text-set{
            display: none;
        }

        .sign-up-login-group-set.switch-login-type{
          width: 100px;
        }
      }

      .user-image{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-items: center;

        .new-user {
          width: 210px;
          height: 210px;
          // margin-bottom: 48px;

          .material-icons{
            font-size: 176px;
          }

          .usual-user-image{
            @include transition1(background-image);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }

      img{
        width: 100%;
        // margin-bottom: 40px;
      }

      #login-load{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

#login-error{
  position: absolute;
  background-color: rgba(173, 0, 0, 0.55);
  padding: 5px 10px;
  left: 10px;
  right: 10px;
  top: 75px;
  border-radius: 5px;
}

.lg-normal-message{
  background-color: $green_scheme_500 !important;
}

.login-zone-block {
  padding: 0;
  position: relative;
}

.login-zone{
  .button-set{
    position: relative;
    margin-top: 20px;
    height: 47px;
  }

  .login-align{
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sign-up-login-buttons{
  position: fixed;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-login-group-set{
    &.text-set{
      text-align: right;
      margin-right: 22px;
      >*{
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
      }
    }

    display: flex;
    flex-direction: column;
  }
}


.login-button, .facebook-button-submit{
  color: white;
  padding: 10px;
  outline: none !important;
  font-size: 19px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover{
    background-color: $addaps_green;
  }

  &.greyed-button{
    background-color: $grey_scheme_700 !important;
    color: $grey_scheme_500 !important;
  }
}

.facebook-button-submit{
  background-color: #234486;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: #0e234e;
  }

  .fb-icon{
    background-image: url("#{$resourcesImageAddress}/login-images/fb-f-white.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 21px;
    height: 21px;
    margin-left: 14px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .fb-text{
    flex: 1;
    text-align: center;
    padding-top: 6px;
  }


  &:hover {
    //transform: scale(1.3);
  }
}


.login-button{
  background-color: $addapsOrange;
  text-transform: uppercase;

  &:active{
    background-color: $green_scheme_500;
    color: white;
  }

  &:hover{
    background-color: $green_scheme_500;
    color: white;
  }
}

.send-verification-email-button{
  margin-top: 40px;
  padding: 10px 31px;
}


$maxHeight: 210px;
$maxWidth:  300px;

@mixin visible-element-css() {
  max-height: $maxHeight !important;
  // max-width: $maxWidth !important;
  opacity: 1;
  // visibility: visible;

}

@mixin invisible-element-css() {
  max-height: 0 !important;
  // max-width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
  border-bottom: 0;
  overflow: hidden;
  // visibility: hidden;
}


@keyframes showElement {
  0%   { display: flex }
  1%   { @include invisible-element-css() }
  99%  { @include visible-element-css() }
  100% { display: none; }
}

@keyframes hideElement {
  0%   { display: none }
  1%   { @include visible-element-css() }
  99%  { @include invisible-element-css() }
  100% { display: flex; }
}

@mixin visible-element() {
  // @include visible-element-css();
  animation: showElement 0.5s forwards; // for some reason, forwards doesn't apply properly here, so the animation is not used anymore
}

@mixin invisible-element() {
  // @include invisible-element-css();
  animation: hideElement 0.5s forwards; // for some reason, forwards doesn't apply properly here, so the animation is not used anymore
}



body{

  .sign-up-visible, .log-in-visible{
    transition: all 0.5s ease;
  }


  &:not(.sign-up-mode)/*, &:not(.verification-mode)*/{
    .password-login-style{
      border-radius: 0 0 4px 4px;
      overflow: hidden;
    }

    .log-in-visible:not(.sign-up-visible){
      @include visible-element-css();
      max-height: 1000px !important;
    }

    .sign-up-visible:not(.log-in-visible){
      @include invisible-element-css();
    }
  }

  &.sign-up-mode{

    .log-in-visible:not(.sign-up-visible){
      @include invisible-element-css();
    }

    .sign-up-visible:not(.log-in-visible){
      @include visible-element-css()
    }

  }


  &.verification-mode{
    .sign-up-visible, .log-in-visible{
      @include invisible-element-css();
    }

    .other-users, .login-zone-block{
      display: none;
    }
  }

  &.forgot-password-mode{
    .sign-up-visible, .log-in-visible{
      @include invisible-element-css();
    }


  }
}

.new-user-avatar{
  position: relative;
  background-color: $addapsOrange;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-button, .log-in-button {
  //background-color: transparent;
  //outline: transparent;
  //border: none;
  //font-weight: bold;
  //font-size: 19px;
  //margin-top: 17px;
}

.center-text{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.user-image{
  width: 100%;
  height: 210px;
  margin-bottom: 48px;

  > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .new-user-avatar{
    left: 50%;
    margin-left: -105px;
  }
}


.sign-up-mode{
  transition: all 0.5s ease;

  .user-image{
    height: 70px;
  }
}

.point-of-interest-wrapper{
  display: flex;
  justify-content: center;
  position: absolute;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.verification-mode{
  .verification-zone{
    opacity: 1;
    bottom: 0;
    right: 0;
  }
}

.verification-zone{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 100%;
  left: 0;
  right: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 1000;
  overflow: hidden;
  transition: opacity 1s ease;

  .verification-box{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .verification-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.48);
      border-radius: 50%;
      width: 175px;
      height: 175px;
      margin-bottom: 35px;

      .material-icons{
        font-size: 111px;
        color: $white;
      }
    }

    .verification-title{
      margin-bottom: 24px;
      font-size: 22px;
      font-weight: bold;
    }

    .verification-text{
      text-align: justify;
    }

    .log-in-button{
      margin-top: 47px;
      text-align: center;
      cursor: pointer;
      justify-content: center;
    }
  }

  .type-waiting{
    &:not(.type-verification){
      display: none;
    }
  }

  .type-verification{
    &:not(.type-waiting){
      display: flex;
    }
  }
}

.verification-waiting-mode{
  .type-waiting{
    &:not(.type-verification){
      display: flex;
    }
  }

  .type-verification{
    &:not(.type-waiting){
      display: none;
    }
  }



  .type-verification{
    &:not(.type-waiting){
      display: none;
    }
  }
}


.no-animation-div{
  .login-zone{

    .login-zone-block {
      animation-duration: 0.3s !important;
    }
  }
}

.terms-conditions-block{
  h2{
    margin-top: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
  }

  h3{
    margin-top: 30px;
    font-size: 15px;
  }



  ul{
    margin-left: 34px;
    list-style-type: square;
    padding: 0;
    line-height: 18px;

    li{
      margin: 10px 0
    }

    ul{
      margin-top: 0;
    }

    & > li > ul{
      font-size: 80%;

      & > li > ul{
        font-size: 90%;
        margin-top: 5px;
        margin-bottom: 5px;

        li{
          margin: 0;
        }
      }
    }
  }
}


.topic-list{
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

    ul{
      font-size: 80%;
      padding: 0 0 0 42px;
      margin: 0 0 13px 0;
    }
  }
}



.form-guess-mode{
  margin-top: 20px;

  .guest-mode{
    height: 20px;

    a{
      cursor: pointer;
      color: $white;
      font-weight: bold;

      &:hover{
        text-decoration: none;
        color: $addapsOrange;
      }
    }
  }
}


.loading-screen{
  background-image: url("#{$resourcesImageAddress}/backgrounds/login.png");
  background-position: right center;
  background-size: cover;
  z-index: 10000000000;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: top 1s ease;


  .loading-screen-addaps-logo{
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("#{$resourcesImageAddress}/logos/newLogos/logo_HN.svg");
    background-position: center center;
    background-size: 50% auto;
    background-repeat: no-repeat;
  }
}


.alt-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    text-align: center;
  }
}

.recover-password-cube{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;

  .popup-base{
    position:           fixed;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    z-index:            100;
    display:            flex;
    justify-content:    center;
    align-items:        center;
  }

}

