.chat-more-vertical-menu{
    position:           absolute;
    overflow:           hidden;
    z-index:            2;
    top:                32px;
    right:              0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);

    .menu-container{
        display:       flex;
        flex-direction: column;
        position:      relative;
        border-radius: 4;
        background-color:#FFFFFF;
        border-radius: 4;

        .menu-item{
            width:              150px;
            justify-content:    center;
            display:            flex;
            align-items:        center;
            height:             30px;

            .menu-title{
                color:              #373737;
                font-size:          14px;
                font-weight:        bold;
            }

            .disabled{
                color: #c2c2c2;
                cursor: not-allowed;
            }
        }
    }

}
