@import '../common_resources/colors';

.welcome-cube-base {
    border: none !important;
    background-color: #f5f5f5;

    &.welcome-content {
        background-color: #f5f5f5;
        border-radius: 3px;
    }

    .cube-top-bar {
        border-radius: 3px 3px 0 0;
        box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
        background-color: transparent !important;
        z-index: auto !important;

        .fix-pin {
            display: none!important;
        }

        .cube-controls {
            max-width: none !important;

            .window_buttons:last-child {
                margin-right: 0;
            }
        }

        .cube-name {
            width: 100%;
        }
    }

    .cube-content {
        position: absolute;
        top: 20px;
        bottom: 0;
        left: 0;
        right: 0;

        .welcome-page {
            height: 100%;
            display: flex;
            flex-direction: column;

            .welcome-addaps {
                text-align: center;
                font-size: 22px;
                color: #ff6c6f;
                font-weight: bold;
            }

            .start {
                //margin-top: 24px;
                background-color: #e0e0e0;
                flex: 1;
                height: auto;
                color: #5a5a5a;
                font-size: 16px;

                .title {
                    text-align: center;
                    font-size: 18px;
                }

                .st-button {
                    background-color: #ff6c6f;
                    border-radius: 100px;
                    font-size: 14px;
                    overflow: hidden;
                    color: #FFFFFF;
                    display: flex;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    padding: 0 15px;
                    font-size: 14px;
                    cursor: pointer;
                    position: absolute;
                    left: 50%;
                    top: 85%;
                    transform: translate(-50%,-50%);
                    width: auto;
                }

                .content {
                    //height: 100%;
                    display: flex;
                    margin-top: 10px;

                    .new-board {
                        padding: 20px 10px 20px 20px;
                        width: 50%;
                        position: relative;

                        .title {
                            text-align: center;
                            font-size: 18px;
                        }

                        .image-container {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background: url("../../multimedia/images/welcome_new_board.jpg");
                            background-size: 100% 100%;
                            border-radius: 4px;
                            background-repeat: no-repeat;

                            .layer {
                                background-color: rgba(0, 0, 0, 0.3);
                                position: absolute;
                                top: 0;
                                border-radius: 4px;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .parent-fake {
                            display: flex;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);

                            .fake-content {
                                margin: 8px;
                                width: 150px;
                                height: 150px;
                                border: 1px dashed #f5f5f5;
                                border-radius: 4px;
                            }
                        }
                    }

                    .recents-or-tour {
                        position: relative;
                        padding: 20px 20px 20px 10px;
                        width: 50%;

                        .title {
                            text-align: center;
                            margin-bottom: 8px;
                        }

                        .content {
                            width: 100%;
                            height: 100%;
                            background: url("../../multimedia/images/welcome_addaps.jpg");
                            background-size: cover;
                            border-radius: 4px;
                            position: relative;

                            .layer {
                                background-color: rgba(0, 0, 0, 0.1);
                                position: absolute;
                                top: 0;
                                border-radius: 4px;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .explorer {
                //margin-top: 32px;
                height: 90%;
                width: 100%;
                color: #5a5a5a;
                font-size: 16px;

                .title {
                    text-align: center;
                    font-size: 22px;
                    color: #ff6c6f;
                }

                .content {
                    height: 90%;
                    padding: 10px;
                    overflow: scroll;
                    display: flex;
                    flex-wrap: wrap;

                    .fs-content-button {
                        cursor: pointer;
                        border: 0 solid #dfdfdf!important;
                        padding: 10px !important;
                        border-radius: 4px;

                        .fs-board-button-top-bar {
                            border-radius: 4px 4px 0 0;

                            .right-side {
                                display: none;
                            }

                            .icon-globe {
                                display: none;
                            }
                        }


                        .fs-board-button-bottom-bar {
                            border-radius: 0 0 4px 4px;
                        }

                        .social-wrapper {
                            display: none;
                        }

                        .button-info {
                            display: none;
                        }
                    }

                    .board-container {
                        width: 414px;
                        border-radius: 4px;
                        margin: 10px;
                        padding: 4px;
                        height: 260px;
                        background: #e0e0e0;
                    }
                }
            }
        }
    }

    .show-in-the-startup{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding: 8px;

        #show-in-the-startup-input{
            margin: 0;
        }

        .show-startup-label{
            margin: 0 0 0 4px;
        }
    }
}
