/*
Styles used in channel and contact components.
 */
.channel{
    $avatarChannelSize: 40px;

    display:         flex;
    flex:            1;
    padding:         10px;
    cursor:          pointer;
    height:          65px;
    align-items:     center;

    .channel-avatar{

        img{
            width:          $avatarChannelSize;
            height:         $avatarChannelSize;
            border-radius:   50% ;
        }
    }

    .channel-information{
        width:               100% ;
        margin-left:         10px ;
        justify-content:     center ;
        display:             flex ;
        flex-direction:      column ;

        .channel-row{
            display:         flex;
            justify-content: space-between;

            .channel-name{
                font-family: AvenirNextMediana;
                color:      #373737;
                font-size:  14px;
                color:      #373737;
                overflow:   hidden;
                height:     20px;
            }

            .channel-last-message{
                color:          #373737;
                font-size:      14px;
                overflow:       hidden;
                white-space:    nowrap;
                text-overflow:  ellipsis;


            }

            .channel-number-wrapper{
                display:            flex;
                width:              20px;
                height:             20px;
                border-radius:      50%;
                background-color:   $addapsOrange;
                justify-content:    center;
                align-items:         center;
                line-height: 0;

                .notification-number{
                    color:  #FFFFFF;
                    font-size: 8px;
                    margin-top: 2px;
                }
            }

            .channel-icon{
                font-size: 14px;
                color:   #D8000C;
            }

        }

        .date-time{
            height: 14px;
            color:  #373737;
            font-size: 10px;
            font-weight: 500;
        }
    }
}
