$transparentAddapsGrey: rgba(55, 55, 55, 0.5);
//
//
//#right-tab{
//  display: none;
//  position: fixed;
//  right: 0;
//  top: $top_bar_height;
//  width: $right_bar_width;
//  bottom: 0;
//  background: $black;
//}

#right-link-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  background-color: $transparentAddapsGrey;

  overflow: auto;

  position: fixed;
  top:      $top_bar_height;
  bottom:   0;
  right:    0;
  width:    $rightBarSize;
  z-index:  $navigatorBarZI;
  color:    $white;
}

.video-full-screen{
  #right-link-bar{
    display: none !important;
  }
}
