// official addaps colors
$addaps_coorporative_grey: #373737;
$addapsOrange: #ff6c6f; // R: 255 G: 108 B: 111
$facebookBlue: #35619C;
$addapsGrey: #373737; // R: 55 G: 55 B: 55

.addaps-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6c6f+0,ff946c+100 */
  background: rgb(255,108,111); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,108,111,1) 0%, rgba(255,148,108,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,108,111,1) 0%,rgba(255,148,108,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255,108,111,1) 0%,rgba(255,148,108,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6c6f', endColorstr='#ff946c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

// end official addaps colors



// color schemes (color.adobe.com) - type shades
/* BLUE */
$light_blue_scheme_500: #03A9F4;

$light_blue_scheme_50:   #E1F5FE;
$light_blue_scheme_100:  #B3E5FC;

$light_blue_scheme_200:  #81D4FA;
$light_blue_scheme_300:  #4FC3F7;
$light_blue_scheme_400:  #29B6F6;
$light_blue_scheme_600:  #039BE5;
$light_blue_scheme_700:  #0288D1;
$light_blue_scheme_800:  #0277BD;
$light_blue_scheme_900:  #01579B;
$light_blue_scheme_A100: #80D8FF;
$light_blue_scheme_A200: #40C4FF;
$light_blue_scheme_A400: #00B0FF;
$light_blue_scheme_A700: #0091EA;

/* GREEN */
$green_scheme_500: #4CAF50;
$green_scheme_800: #2E7D32;
$green_scheme_900: #1B5E20;

$green_pastel_50:  #e1f9e1;
$green_pastel_xxx: #678a67;
$green_pastel_500: #77dd77;
$green_pastel_800: #7fb57f;

  /* yellow*/
$yellow_scheme_500: #FFEB3B;
$yellow_scheme_50:  #FFFDE7;
$yellow_scheme_800: #F9A825;
$yellow_scheme_900: #F57F17;

/* DEEP ORANGE */
$deep_orange_scheme_500: #FF5722;
$deep_orange_scheme_800: #D84315;
$deep_orange_scheme_900: #BF360C;

/* RED */
$red_scheme_500: #F44336;
$red_scheme_800: #C62828;
$red_scheme_900: #B71C1C;

/* CYAN */
$cyan_scheme_500: #00BCD4;
$cyan_scheme_700: #0097A7;
$cyan_scheme_800: #00838F;
$cyan_scheme_900: #006064;

/* GREY*/
$grey_scheme_500: #9E9E9E;
$grey_scheme_600: #757575; // #797979
$grey_scheme_700: #616161;
$grey_scheme_800: #424242;
$grey_scheme_900: #212121;

/* BLUE GREY*/
$blue_grey_scheme_50:  #FAFAFA;
$blue_grey_scheme_500: #607D8B;
$blue_grey_scheme_800: #37474F;
$blue_grey_scheme_900: #263238;

$addaps_red:         #f23939;
$addaps_green:       #64d866;
$addaps_system_grey: #2f2f2f;


$white:              #FFFFFF;
$black:              #000000;
$grey_1:             #EFEFEF;
$system_bg_grey:     #444444;
$system_bg_grey_h:   #292929;
$darkslategrey:      #2f4f4f;

$red_1:              #FF0000;
$black_2:            #101010; // topbar looks like this
$coorporative_black: $black_2;
$grey_tab_color:     $grey_scheme_600;

$selectedCubeColor:    #080808;


//NEW VARIABLES
$primary_color:                     #FF6C6F;
$secondary_color:                   #373737;

//PLAYERS
$player_background_color:           #373737;
$player_controls_color:             #E0E0E0;

//
$cube_border_grey:                  #EBEBEB;
$cube_transparent_grey:             rgba(0, 0, 0, 0.12);
