/* small utility to vertically centrate things */
/*
  Things can be centrated only in reference of the brothers, not from the parent. in order to fix that
  and help to centrate elements, we have created this structure

  <div id="parent">
    <div class="centrator"></div>
    <div class="c-referencer"></div>
  </div>

  parent has to have an specified height.
  centrator is the element that should be centrated
  c-reference is the reference to witch it will be centered. it will have the same height of the parent,
  but will be invisible. In order to verify that it doesnt have any weight (even 0px width elements have
  some spacing in some brownsers), the c-reference is moved due a negative margin.
 */

.centrator, .c-reference{
  display: inline-block;
  vertical-align: middle;
}

.c-reference{
  height: 100%;
  width: 0;
  margin: 0 -6px 0 0;
}

.breadcrumb-section {
  display: inline-block;

  .breadcrumb {
    color: $white;
    background-color: transparent;
    display: inline-block;
    margin: 0;
    padding: 0;



    li{
      &.search-message{
        color:       #ffffff;
        font-weight: bold;
      }
      cursor: pointer;
    }
  }
}

ul{
  list-style-type: none;
}
