// AVENIR NEXT

@font-face {
  font-family: AvenirNextMediana;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
}

@font-face {
  font-family: Avenir Next;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
}

@font-face {
  font-family: AvenirNextMediana;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf");
  font-style: italic;
}

@font-face {
  font-family: Avenir Next;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-DemiIt.otf");
  font-style: italic;
}

@font-face {
  font-family: AvenirNextMediana;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: Avenir Next;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
}



@font-face {
  font-family: AvenirNextUltrafina;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirNextUltrafina;
  src: url("../fonts/AvenirNext/AvenirNextLTPro-It.otf");
  font-style: italic;
}



// DIN PRO

@font-face {
  font-family: DinProRegular;
  src: url("../fonts/DINPro/DINPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: DinProRegular;
  src: url("../fonts/DINPro/DINPro-Bold.otf");
  font-weight: bold;
}

