$top_bar_height:    50px;
$cube_bar_height:   40px;
$tab_zone:          22px;
$rightBarSize:      50px;
$right_bar_width:   300px;
$smooth_shadow:     0 2px 5px rgba(0,0,0,0.26); // normally we wont have shadow, but this will give the feeling that there is something under it - scrolled content

$resourcesImageAddress: "../../multimedia/images";


/* Z-INDEX CONSTANTS */

$ZIMultiplier:    100; // is the difference between z-index priorities. WARNING: even if it is huge, there is a limit to the z-index number. Be aware of that while adding priorities

// Z-INDEX PRIORITY 1
// cubes are the base of the board. the selected cube should be alawys on the top
$contentZI:       1;
$decoCubeZI:      1;
$selectedDecoCubeZI: 10;
$cubeZI:          $selectedDecoCubeZI * 10;
$selectedCubeZI:  $cubeZI * $ZIMultiplier; // with this we make sure that, if we want, in the future we can have several cube layers
$maximizedCubeZI: $selectedCubeZI + 100;
$buttonsZI:       $selectedCubeZI + 1;


// Z-INDEX PRIORITY 2
// cubes will be always under the top bar - except for lightcubes
$topBarZI:             $maximizedCubeZI * $ZIMultiplier;
$navigatorBarZI:       $topBarZI - 1;
$bottomBarDecoration:  $maximizedCubeZI * $ZIMultiplier;
$minBarZI:             $maximizedCubeZI - 1;
$boardTabZI:           $topBarZI - 1; // cubes will be always under the board tab - except for lightcubes
$notificationsZI:      $boardTabZI - 1; // it should be always visible except for the menus


// Z-INDEX PRIORITY 3
// a lightbox cube can be on the top of a top bar
$lightboxBlackZI: $topBarZI * $ZIMultiplier;
$lightboxZI:      $lightboxBlackZI + 1; // the cube itself should be always on the top, and the lightbox next

// Z-INDEX MAX_PRIORITY - get the lat zi and place it with a + 1
$showAlwaysZI: $lightboxZI * 10;

// todo: get this in a proper way
$zIndLoginBackground: 0;
$zIndLoginBody:       1;
$zIndDialogWidget:    10000000000000 !important;
