//save board button
#save-board-tool {
  //position: fixed;
  // z-index: 1001;
  //bottom: 16px;
  left: 26px;
  z-index: $notificationsZI + 1;

  .save-board-tool-button {
    background-color: $addapsOrange;
  }

  .save-board-menu {
    height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .only-bottom-menu{
      display: block;
    }
  }
}
