/*** NOTIFICATIONS COMPONENT ***/
.dropdown-notifications {
    right: -72px;
    top: 21px;

    .pd-top-bocadillo-triangle{
        right: 70px;
    }

    .social-notifications-list-with-loader {
        height: 400px;
        width: 359px;
        overflow: scroll;

        .social-notifications-list{
            .social-notification:last-child{
                .social-notification-content-div{
                    border: 0px solid transparent!important;
                }
            }
        }
    }
}
