$transparentWhite: rgba(255, 255, 255, 0.71);

$contentTopLayer:     3;
$contentFormLayer:    2;
$contentBottomLayer:  1;
$content_superfluous_layer: 0;

$elementEdgeSize:     10px;

$close_button_size:11px;
$sizeCubeDecSocial:800px;
$blackAddaps: #212121;
$whaiteAddaps: #ffffff;
$bigMargin: 50px;
$mediumMargin: 20px;
$smallMargin: 10px;
$fontSize: 15px;
$redAddaps: #f23939;

.hide-decoration-cube{
  display: none;
}

.shape-decoration-cube{
  .color-label{
    font-weight: bold;
  }

  .color-sample-wrapper, .form-paragraph{
    margin-bottom: 16px;
  }

  input{
    text-align: center;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {

      opacity: 1;

    }
  }

  &.decoration-cube-base{
    .cube-top-bar{
      z-index: $boardTabZI;
    }
  }

  .input-side{
    .shapes.floating-menu{
      right: -4px;
      left: auto;
      padding: 4px;
      bottom: 43px;
      border-radius: 3px;
      z-index: $boardTabZI +1 ;

      .ballon-down-triangle{
        bottom: -20px;
        left: 4px;
      }
    }
  }

  .shape-color-area-wrapper{
    padding: 11px;
    margin-top: 21px;
  }

  .color-samples, .input-side{
    position: relative;

    .floating-menu{
      right: -165px;
      bottom: 28px;
      left: auto;
    }

    .inner-color-wrapper{

    }

    .color-sample-wrapper, .form-paragraph{
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .form-paragraph{
      input{
        display: block;
        width: 50px;
        height: 26px;
      }
    }

    .border-color{
    }

    .inner-color{

    }

    .sample-color-button{
      display: block;
      width: 50px;
      height: 23px;
      border: 1px solid black;
    }
  }
}

.decoration-cube-base{
  border: none !important;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  &.cube, &.selected-cube{
    box-shadow: none;
    z-index: $decoCubeZI;
  }

  &.cube{
    z-index: $decoCubeZI;
    &.selected-cube{
      z-index: $selectedCubeZI !important;
    }
  }

  &.form-mode {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  .cube-top-bar .fix-pin{
    color: black;
    &:hover{
      color: $addaps_green;
    }
  }

  .show-only-in-edit-form{
    display: none;
    opacity: 0;
    @include transitionOpacity();

    &.bottom-bar-button{
      display: none;
    }
  }

  // form mode for when we want to edit the element
  &.form-mode{
    background-color: $white;
    border-radius: 3px;
    //overflow: hidden;

    .cube-top-bar{
      border-radius: 3px 3px 0 0;
    }

    .cube-buttons{
      border-radius: 0 0 3px 3px;
    }

    .social-decoration-cube{
      overflow: visible;
    }

    .show-only-in-edit-form{
      display: flex;
      opacity: 1;
      z-index: 2;

      &.bottom-bar-button{
        display: inline-block;
      }
    }
  }

  .cube-content{
    top: 0;
  }

  .cube-top-bar{
    //z-index: $contentTopLayer;
    z-index: 10000;
    //display: none;
    //opacity: 0;
    transition: opacity 0.5s ease;
    background-color: $transparentWhite !important;

    .frozen-board-text{
      right: 30px;
    }
  }


  .bottom-extra-options{
    background-color: white;

    .material-icons:hover{
      transition: color 0.5s ease;
      color: $addaps_green;
    }

    .active-button{
      color: $addaps_green;
    }
  }


  .cube-buttons{
    background-color: rgb(255, 255, 255);
    z-index: 100000;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: right;
    height: 51px;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;


    .btn{
      border: none;
      font-size: 18px;
      text-transform: uppercase;

      &.btn-success{
        background-color: $addapsOrange;
      }
    }
  }
}



.bottom-extra-options{
  display: flex;
  position: absolute;
  bottom: 13px;
  align-items: center;
  left: 13px;
  z-index: 20;

  > *{
    margin-right: 16px;
    position: relative;
  }



  > *{
    cursor: pointer
  }

  .link-colors{
    left: -22px;

    .ballon-down-triangle{
      left: 22px;
    }
  }
}




.special-icon, .shapes .shapes-wrapper > *{
  display: block;
  background-color: #4c4c4c;
  width: 20px;
  height: 20px;
  border-radius: 15%;

  &.active-button{
    background-color: $addaps_green;
  }
}

.special-icon{
  position: relative;

  > *{
    background-color: white;
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
  }


  .special-icon-circle{
    top: 3px;
    left: 3px;
    border-radius: 50%;
  }

  .special-icon-square{
    bottom: 4px;
    right: 4px;
  }

  .special-icon-circle{
    bottom: 3px;
    right:  3px;
  }
}


.shape-click-icon{
  background-color: #959595;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon-shapes{
  height: 31px;

  .shapes, .shapes-icon-set{
    transition: opacity 0.5s ease;
    margin-top: 5px;

    .selected-shape{
      opacity: 0.8;
    }

    .shapes-wrapper > div{
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s ease, opacity 0.5s ease;
      opacity: 0.5;

      &:hover{
        transform: scale(1.3);
        opacity: 1;
      }
    }

    .form-element{
      display:          block;
      width:            $elementEdgeSize;
      height:           $elementEdgeSize;
      background-color: white;
    }

    .circle{
      .form-element{
        border-radius: 50%;
      }
    }

    .triangle{
      .form-element{
        @include triangleUp(#ffffff, $elementEdgeSize);
        background-color: transparent;
      }
    }
  }
}



.text-dec-cube{
  $textAreaPadding: 10px;
  textarea{
    position: absolute;
    top: 32px;
    bottom: 50px;
    left: $textAreaPadding;
    width: calc(100% - #{$textAreaPadding * 2});
    margin: 0;
    // height: 218px;
    resize: none;
    border: 0 solid transparent;
    background-color: transparent;
    outline: none;
  }
}




.image-decoration-cube {
  background-color: transparent !important;

  &.form-mode {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    .image-dec-cube{
      border-radius: 3px;
      overflow: hidden;
    }
  }

  .form-decoration-cube {
    padding-bottom: 0;
  }

  .paste-image {
    display: flex;
    justify-content: center;
  }

  .bottom-extra-options {
    left: 0;
    bottom: 0;
    height: 46px;
    background-color: $transparentWhite;
    padding: 0 13px;
  }

  .image-dec-cube {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-form-element {
      text-align: center;
      width: 100%;
      opacity: 1;
      @include transitionOpacity();
      z-index: $contentFormLayer;

      .drop-image {
        background-color: #000000;
        color: #FFFFFF;
        width: auto;
        display: inline-flex;
        padding: 6px 11px;
      }

      .or-do-this {
        margin: 17px 0;
      }

      input.paste-an-url {
        width: 90%;
        padding: 3px;
        user-select: all;
      }
    }

    .my-image {
      // opacity: 0;
      position: absolute;
      @include topLeftBottomRight(0);
      transition: opacity 1s ease;
      z-index: $contentBottomLayer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.image-loaded {
      background-color: transparent;

      .my-image {
        opacity: 1;
      }

    }
  }
}


.cube-dec-social{

    box-shadow: none!important;
    width: $sizeCubeDecSocial;
    height: ($sizeCubeDecSocial/2);

    .cube.selected-cube{
      //box-shadow: none;
      background-color: rgba(0, 0, 0, 1);
    }


    .cube-dec-form-social{
        position: absolute;
        width: ($sizeCubeDecSocial/2 + 100);
        height: ($sizeCubeDecSocial/2);
        background-color: $whaiteAddaps;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 0 8px 0 rgba(0,0,0,0.12);

        .dec-form-social-info{
            align-items: center;
            justify-content: center;
            height: $bigMargin;

            .dec-form-social-image{
                position: absolute;
                color: $whaiteAddaps;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                //background-color: grey;
                background: url("../../multimedia/images/avatar.jpg") center center;
                background-size: 50px 50px;
                border-radius: 50%;
                height: $bigMargin;
                width: $bigMargin;
                margin-top: $smallMargin;
                margin-left: $smallMargin;
            }
            .dec-form-social-name{
                position: absolute;
                left: $bigMargin + 10px;
                line-height: ($bigMargin + $mediumMargin);
                font-size: $fontSize;
                margin-left: $mediumMargin;
                margin-bottom: $smallMargin;
            }
        }
        .dec-form-social-text{
          position: absolute;
          display: flex;
          width: 95%;
          height: $sizeCubeDecSocial/2 - 130px;
          background-color: #FFFFFF;
          text-align: center;
          margin-top: $mediumMargin;
          margin-left: $smallMargin;

          .write-text-input1{
              display: block;
              overflow: hidden;
              position: absolute;
              width: 100%;
              height: 100%;
              font-size: $fontSize;
              border:  0 solid transparent;
              outline: none;

          }
        }
    }

    .dec_social_posts{
      position: absolute;
      left: ($sizeCubeDecSocial/2 + 100);
      width: $sizeCubeDecSocial/2 - 100px;
      height: $sizeCubeDecSocial/2;
      background-color: rgba(33,33,33,0.9);
      align-items: center;
      justify-content: center;
      box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 0 8px 0 rgba(0,0,0,0.12);

      .post-list-title{
          opacity: 1;
          position: absolute;
          display: block;
          line-height: ($bigMargin + $mediumMargin);
          width: 100%;
          text-align: center;
          color: $whaiteAddaps;
          font-size: $fontSize;
          margin-bottom: 10px;
      }

      .close_button_posts{
          position: absolute;
          top: ($close_button_size);
          left: ($close_button_size);
          border: 1px solid red;
          cursor: pointer;
          display: inline-block;
          width: $close_button_size;
          height: $close_button_size;
          background: url("../../multimedia/images/icons/close-icon.png") no-repeat center center $redAddaps;
          border-radius: 50%;
          background-size: 70%;
          z-index: 100;
      }
      ul{
        height: 80%;
        top: 40px;
        position: absolute;
        overflow: scroll;
        padding: 0;

        li{
            margin: 10px 10px;
            display: flex;

        }
      }
    }
}



.form-decoration-cube{

  canvas{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .shape-cube{
    position: absolute;
  }

//  position: absolute;
//  z-index: 100;
//  @include topLeftBottomRight(0);
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  align-content: center;
//  width: 100%;
//  background-color: #FFFFFF;
//  text-align: center;
//  padding-bottom: 55px;
//
//
//  canvas{
//    position: fixed;
//    background-color: rgba(255, 255, 255, 0.45);
//    z-index: 0;
//    width: 100%;
//    height: 100%;
//    @include topLeftBottomRight(0)
//  }
//
//  .color-area-form-tools{
//    ul{
//      display: flex;
//
//      li{
//        display: flex;
//        width: 50px;
//        height: 50px;
//        background-color: #00B0FF;
//        margin-right: 5px;
//      }
//    }
//  }
//
//  .write-text-input{
//    display: block;
//    overflow: hidden;
//    top: 31px;
//    bottom: 55px;
//    left: 0;
//    right: 0;
//    position: absolute;
//    width: 100%;
//    font-size: 20px;
//    padding: 0 24px;
//    border:  0 solid transparent;
//    outline: none;
//    resize: none;
//  }
}



.del-cube-top-bar{
  .cube-top-bar{
      z-index: 102;
      opacity: 0!important;
    }
}


.link-decoration-cube{

  .link-form-element, .bottom-extra-options{
    display: none;
  }


  &.form-mode {
    background-color: #FFFFFF;

    .link-form-element{
      display: block;
    }
    .bottom-extra-options{
      display: flex;
    }

    .visual-deco-link-content{
      display: none;
    }

    .link-decoration-cube-content{
      top: 0;
      position: absolute;
      bottom: 51px;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }


    .link-form-element{
      width: 100%;

      .dec-text-form{
        display: flex;
        flex-direction: column;
        padding: 12px;
        text-align: left;

        label{
          font-weight: normal;
          font-size: 13px;
          color: #cdcdcd; // in theory is the same than the border bottom input, but it hardly can't be seen, so I changed it.
        }

        input{
          border: 0;
          border-bottom: 2px #dcdcdc solid;
        }
      }
    }
  }
}

.social-decoration-cube{
  background-color: rgba(255,255,255, 1);
  width: 490px;
  height: 400px;

  textarea{
    resize: none;
  }
}

.floating-menu, .floating-menu.shapes {
  $bgColor: #DDDDDD;

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  bottom: 50px;
  left: 0;
  background-color: $bgColor;
  box-shadow: rgba(0, 0, 0, 0.498039) 0 2px 5px 0;
  z-index: 100;
  max-height: 300px;

  .ballon-down-triangle {
    $triSice: 20px;
    position: absolute;
    bottom: -$triSice;
    left: 0;
    //box-shadow: rgba(0, 0, 0, 0.498039) 0 2px 5px 0;
    @include triangleBottom($bgColor, $triSice);
  }
}

.decoration-cube-base{
  .cube-buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .decoration-cube-content{
    position: absolute;
    top: 41px;
    bottom: 51px;
    left: 0;
    right: 0;
  }

  textarea{
    height: 100%;
  }

  &.image-decoration-cube {
     .decoration-cube-content {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
     }
  }
}





.link-decoration-cube{
  min-height: 260px;
}


