

//BUTTON APP
.btn-app-open {
    font-size: 14px;
    letter-spacing: 1.5px;
    position: relative;
    font-weight: 800;
    text-transform: uppercase;
    transition: all ease 0.25s;
    padding: 12px 20px 10px 50px;
    margin-right: 10px;
    text-align: left;
    border-radius: 100px;
    //border: 2px solid $primary_color;
    height: 60px;
    color: #ffffff;

    &:hover {
        background: #0cb46b;
        color: #fff;
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.17);
        transition: all 0.25s ease-in-out !important;
    }

    i {
        position: absolute;
        top: 50%;
        transform: translate(50%, -100%);
        left: 0;
        margin: 10px 0 0 10px;
        font-size: 20px;
        line-height: 1;
    }

    strong {
        display: block;
        margin-bottom: 6px;
        font-size: 10px;
    }

    span {
        display: block;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: -3px;
        opacity: 1;
    }
}

.btn-app-filled {
    @extend .btn-app-open;
    background: $primary_color;
}
