$transitionTime: 0.3s;

@mixin addTrans4($inst1, $inst2, $inst3, $inst4) {
  transition: $inst1 $transitionTime ease, $inst2 $transitionTime ease, $inst3 $transitionTime ease, $inst4 $transitionTime ease, ;
}

#board-button-section{
  #save-board-tool, #fe-se-feedback-section{
    position: fixed;
    bottom: 16px;
    @include addTrans4(top, bottom, left, right);
  }
}

.maximizated-desktop{
  #board-button-section{
    #save-board-tool, #fe-se-feedback-section {
      bottom: 6px;
    }

    #save-board-tool{
      left: 6px;
    }

    #fe-se-feedback-section{
      left: 37px;
    }
  }
}