.element-selector-style-ul{
  overflow: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  background-color: white;
  max-height: 250px;

  li{
    background-color: #DDDDDD;
    white-space: nowrap;
    padding: 0 8px;
    border-bottom: 1px solid black;

    &:hover{
      background-color: grey;
    }

    &.selected-font{
      background-color: $addaps_green;
    }
  }
}

.image-selector-style-ul{
  overflow: scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 250px;
  width: 250px;
  display: inline-flex;
  flex-wrap: wrap;

  li{
    width: 29%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    height: 83px;
    background-color: #eaeaea;
    margin: 5px;



    &.group{
      text-align: center;
      width:100%;
      height: 37px;
      margin-top: 13px;
      background-color: darkgrey;
      color: white;
      font-weight: bold;
    }

    &:first-child{
      margin-top: 0px;
    }

    &:hover{
      background-color: grey;
    }

    &.selected-image{
      background-color: $addaps_green;
    }

    img{
      width: 100%;
      height: 58px;
      margin-bottom: 3px;
    }

    .image-selector-title{
      text-align: center;
      font-size: 10px;
    }
  }
}
