.light-box{
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000;
    overflow: hidden;

    .light-box-content{
        width: 650px;
        height: 500px;
        position: absolute;
        background-color: white;
        border-radius: 4px;

        .title-wrapper{
            display: flex;
            position: relative;
            height: 40px;
            width: 100%;
            align-items: center;
            border-bottom: solid 1px #e2e2e2;

            span{
                position: relative;
                top: 1px;
            }

            .buttonClose{
                border-radius: 50%;
                background-color: rgb(245, 245, 245);
                cursor: pointer;
                width: 20px;
                height: 20px;
                justify-content: center;
                align-items: center;
                display: flex;
                margin: 0px 10px;

                .material-icons{
                    font-size: 15px;
                }
            }
        }
    }
}
