.system-options-content {
    text-align: center;
    color: $black;
    padding: 10px;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;



  .system-section-header{
    text-align: left;
    position: relative;
    font-size: 17px;

    .text {
      margin-left: 7px;
    }

    .expand-minimize-button{
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 4px;

      > *{
        font-size: 19px;
      }
    }
  }

  .system-section-content{
    padding-left: 13px;
    margin-bottom: 25px;

    .system-option-subsection{

        background-color: $white;
        border-radius: 6px;
        margin-top: 15px;

      .system-section-header{
        padding: 5px;
        font-size: 15px;
        border-bottom: 0 none transparent;

        .text{
          margin-left: 2px;
        }



        .expand-minimize-button {
          top: 7px;

          > * {
            font-size: 24px;
            line-height: 15px;
          }
        }

      }

      .system-section-content{
        padding: 9px 7px;
        background-color: $grey_1;
        overflow: auto;
        margin-left: 22px;
      }
    }
  }

  .flag-gallery{
    img{
      width: 25px;
      height: 25px;
      cursor: pointer;
      margin-right: 5px;

      &:hover{
        opacity: 0.5;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  .image-gallery{
    .image-gallery-pics{
      width: 100%;
      height: 383px;
      overflow-y: auto;
      padding: 0;
      margin: -18px 0 0 0;
      color: $black;
      border: none;

      .image-topic{
        color: $black;
        border-color: $black;
        border-bottom: 0 none transparent;
        // related with tree organization

        .triangle-down{
          display: inline-block;
          @include transition(transform 0.3s ease);
          @include triangleBottom($black, 10px);
        }
      }

      .show-only-four .gallery-images {
        max-height: 109px !important;
      }

      .image-thumb{
        width: 106px;
        height: 46px;
      }
    }
  }
}

.triangle-down{
  display: inline-block;
  @include transition(transform 0.3s ease);
  @include triangleBottom($black, 10px);
}

.color-gallery li, .current-color-div {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 2px;
  cursor: pointer;
}

.current-color-div{
  border: 1px solid $white;
  position: absolute;
  right: 10px;
  bottom: 7px;
  transition: background-color 0.5s ease;
}

.color-gallery{
  text-align: left;

  ul.base-colors{
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .more-colors-wrapper{
    position: relative;
    text-align: center;
    width: 100%;

    .more-colors{
    }
  }
}

.color-picker-wrapper{
  position: fixed;
  overflow: hidden;
  display:block;
  background-color: $system_bg_grey; //     background-color: #676565;
  border-radius: 4px;
  text-align: center;
  max-height: 0;
  padding: 0;
  $time_easing: 0.5s;
  transition: max-height $time_easing ease, max-width $time_easing ease, padding $time_easing ease, opacity $time_easing ease;
  margin-left: -111px;
  max-width: 242px;
  min-width: 242px;
  opacity: 0;
  z-index: 1000;

  .close-stuff {
    top: 10px;
    position: absolute;
    left: 10px;
  }

  &.show-more-colors{
    max-height: 220px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    opacity: 1;
  }

  > .Scp{
    //width: 100% !important;
  }
}


.cube-designer-title, .input_dark{
  font-size: 13px;
  text-align: left;
}

.cube-designer-title{
  text-align: left;
}


.input_dark{
  display: inline-block;
  padding: 0;
  height: 22px;
  border: 1px solid $white;
  text-align: center;
  width: 100%;
  background-color: $system_bg_grey_h;
}

.apply-button{
  outline: none;
  border: none;
  margin-top: 16px;
  margin-bottom: 0;
}

.cubes-tab-submenu{
  margin-bottom: 5px;
  .cube-designer-title{
    padding-top: 4px;
  }
}

.cubes-system-section{
  padding: 5px 7px;
}

.system-secret-options{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  color: dimgray;
  cursor: pointer;

  .legend-button{
    cursor: pointer;
    margin-right: 4px;
    padding-bottom: 3px;
  }

  span{
    font-size: 12px;
  }

  .on{
    display: none;
  }

  &.activated{
    .on{
      display: inline-block;
    }

    .off{
      display: none;
    }
  }
}

#minimap-type-form, .checkbox-settings-type-form{
  text-align: left;
  font-size: 10px;
  padding-left: 5px;

  .minimap-option, .checkbox-option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;

    label, input{
      margin: 0 5px 0 0;
      cursor: pointer;
    }
  }
}
