.selected-cube .social-networks {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.player-cube-base {
  &.mini-player-version {
    &:not(.cube-full-screen) {
      min-width: 400px !important;
      max-width: 400px !important;
      width: 400px !important;
      min-height: 50px !important;
      max-height: 50px !important;
      height: 50px !important;
      border-radius: 0 !important;
    }
  }

  &.cube-full-screen {
    &.mini-player-version {
      .player-radio {
        position: absolute;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        height: 50px;
        bottom: 0;
        border-top: 1px solid black;

        .social-wrapper {
          right: 0;
        }
      }

      &.player-content {
        .cube-buttons {
          position: absolute;
          top: 42px;
          right: 0px;
          width: 100%;
          bottom: 49px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
        }

        .volum {
          margin: 0;
          padding: 0;
          font-size: 112PX;
          display: block;
          left: auto;
          position: static;
        }
      }
    }

    border-right: 1px solid black !important;
  }
}

.player-cube-base {
  &.player-content {
    .cube-buttons {
      .btn {
        background-color: transparent;
      }
    }

    &.mini-player-version {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 0 58px 0 65px;

      .cube-top-options, .cube-extra-options, .radio-p .playing, .cube-name {
        display: none;
      }

      .cube-top-bar, .fix-pin {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: initial;
        position: absolute;
        top: 15px;
      }

      .fix-pin {
        right: 0;
      }

      .player-controls-radio {
        padding-top: 2px;
      }

      .cube-top-bar {
        position: absolute !important;
        top: 0;
        bottom: 100%;
        width: 100%;
        background-color: red !important;
        left: 0;
        height: auto;
        display: flex;
        justify-content: space-between;

        .cube-controls {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 61px;
          min-width: initial;
          position: absolute;
          top: 24px;

          > span {
            margin: 0 0 0 5px;
          }
        }
      }

      .resize-sensor {
        display: none;
      }

      .fix-pin {
        padding: 0;
        margin: 0;
      }

      .volum {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 14px;
        right: 67px;
      }

      .player-radio {
        left: 70px;
        right: 53px;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0px;
        bottom: 0px;
        position: absolute;

        .player-cube {
          .playing {
            display: none !important;
          }
        }
      }

      .top-bar {
        background-color: transparent;
        z-index: 20;
      }

      .cube-buttons {
        background-color: transparent;
        height: 0;
        margin: 0;
      }
    }
  }
}

.radio-p {
  .content {
    //padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 50px;
    bottom: 0px;
    overflow: scroll;
    display: flex;
    //display: flex;
    flex-wrap: wrap;

    .radio {
      text-align: center;
      height: 120px;
      width: 120px;
      margin: 8px;
      padding: 4px;
      background: #5d5d5d;
      border-radius: 3px;
      cursor: pointer;

      .r-flag {
        position: absolute;
        //border-radius: 100px;
        left: 4px;
      }

      .r-image {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        margin: auto;
      }

      p {
        color: #fff;
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 0px;
        text-align: center;
      }

      span {
        position: absolute;
        opacity: 0.7;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -75%);

        i {
          font-size: 30px;
        }
      }
    }
  }

  .playing {
    text-align: center;
    margin-top: 24px;

    // img {
    //     width: 250px;
    //     height: 250px;
    // }

    p {
      margin-top: 0px;
    }

    .title {
      color: #fff;
    }

    .subtitle {
      color: #bdbdbd;
      font-size: 12px;
    }
  }

  .player-controls-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //align-items: center;
    //bottom: 8px;
    //left: 48%;
    //transform: translate(-50%, 20%);
    //z-index: 25;
    color: #e0e0e0;

    > * {
      margin-right: 30px;
      position: relative;
    }

    span {
      z-index: 20;

      cursor: pointer;
      color: #e0e0e0;
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    .back {
      span {
        font-size: 30px;
      }
    }
  }

  .mini-player {
    display: flex;
    position: absolute;
    align-items: center;
    //bottom: 16px;
    //left: 95%;
    top: -24px;
    right: 34px;
    z-index: 20;
    color: $player_controls_color;

    i {
      cursor: pointer;
      font-size: 16px;
    }
  }

  .social-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: -138px;

    .mini-imag {
      cursor: pointer;
      display: flex;
      //position: absolute;
      width: 65px;
      height: 50px;
      align-items: center;
      //bottom: 0;
      //left: calc(100% + 20px);
      //z-index: 20;
    }

    .social-networks {
      cursor: pointer;
      //display: flex;
      //position: absolute;
      height: 50px;
      width: 20px;
      background: #e0e0e0;
      align-items: center;
      //bottom: 0;
      //left: 100%;
      //z-index: 100;
      display: flex;
      flex-direction: column;

      .fa {
        font-size: 15px;
      }

      .fa-facebook {
        color: #373737;
        margin-top: 10px;

      }

      .fa-twitter {
        color: #373737;
        margin-top: 4px;
      }

      .fa:hover {
        color: $primary_color;
      }
    }
  }

  .tags {
    text-align: center;
    margin-top: 16px;
    left: 15%;
    width: 68%;
  }

  .go-to-home {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 11;
    color: #e0e0e0;
    margin-left: 40px;

    .back {
      i {
        cursor: pointer;
        color: #e0e0e0;
        font-size: 24px;
      }
    }
  }
}

.mini-player-version {
  .standard-cube {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .cube-extra-bottom-options{
    display: none;
  }

  #primary-mute-button{
    display: none;
  }

  .primary-mute-button{
    display: block;
  }
  //
  //&.cube-full-screen{
  //  .primary-mute-button{
  //    display: block;
  //  }
  //
  //  .secondary-mute-button{
  //    display: none;
  //  }
  //}
}
