.simple-modal{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .content-wrapper{
        margin: 10px 20px;
        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 0 2px 0 rgba(0,0,0,0.24);
        padding: 15px 20px 5px 20px;
        max-width: 350px;


        .title{
            font-family: avenir next;
            font-weight: 500;
        }

        .description{

        }

        .action-buttons{
            display: flex;
            justify-content: space-between;

            .button{
                margin: 0px 10px;
                font-weight: 500;
                font-family: avenir next;
                cursor: pointer;
                padding: 5px 10px;
            }

            .button:hover{
                background-color: #ededed;
            }
        }
    }

}
