#fe-se-feedback-section{
  //position: fixed;
  // z-index: 1000;
  //bottom: 16px;
  left: 80px;
  z-index: $notificationsZI;
}

.bottom-bocadillo-triangle{
  float: right;
  margin-right: 10px;
  @include triangleBottom(#c5c5c5, 12px);
}


.top-bocadillo-triangle{
  float: right;
  margin-right: 10px;
  @include triangleUp(#c5c5c5, 12px);
}
