.inputTextItemContainer{
    height: 60px;
    border-bottom: 1px solid rgb(158, 158, 158);
    position: absolute;

    .labelInput{
        position: absolute;
        width: 100%;
        color: rgb(158, 158, 158);
    }

    .infoInput{
        position: absolute;
        width: 100%;
        top: 60px;
        justify-content: flex-end;
        display: flex;
        color: rgb(158, 158, 158);
        font-size: 12px;
    }

    .countryPrefixInput{
        position: absolute;
        color: rgb(158, 158, 158);
        border-bottom: 1px solid rgb(158, 158, 158);
        top: 30px;
        left: 220px;
        width: 70px;
        height: 30px;
    }
}
